{% extends 'WebApp/base.html' %}

{% load static %}

{% block content %}
<!-- Heading -->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded bg-success">
            <h1>
                Tienda Online
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
      <div style="float: right;">
        {% if messages %}
        {% for message in mesagges %}
                <div class="alert alert-danger text-center">
                    {{message}}
                </div>
        {% endfor %}
        {% endif %}
        {% if request.user.is_authenticated %}
          {% include "carro/widget.html" %}

        {% else %}
          <div class="alert alert-danger">
            Inicia Sesion o Registrate
          </div>

        {% endif %}
      </div>

    <div class="row">
  {% for producto in productos %}
        <div class="col-sm-8 col-md-7 col-lg-4 col-xl-4">
          <div class="card mb-5">
            <img src="{{ producto.imagenes.url }}">
            <div class="card-body">
              <h4 class="card-title text-center">{{ producto.nombre }}</h4>
              <h5 class="card-text text-center">{{ producto.precio }} &nbsp;€</h5>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'carro:agregar' producto.id %}" 
                class="btn btn-success btn-block">Añadir al Carrito</a>
            </div>
          </div>
        </div>
  {% endfor %}
  </div>
</div>

    {% endblock %}