{% extends 'WebApp/base.html' %}

{% load static %}

{% block content %}
<!-- Heading -->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded bg-success">
            <h1>
                Blog
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% for post in posts %}
  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ post.imagen.url }}" alt="" style="width: 50%;">
        <div class="intro-text left-0 text-center bg-success p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">{{ post.titulo }}</span>
            <span class="section-heading-upper">{{ post.contenido }}</span>
          </h2>
        <div style="text-align: left; font-size: 0.8rem;">
          Autor: {{ post.autor }}
        </div>
        </div>
      </div>
    </div>
  </section>
  {% endfor %}

  <section>
    <div class="text-center mb-4">

      Categorias  &nbsp; | &nbsp;

      {% for post in posts %}

        {% for categoria in post.categorias.all %}

            {{ categoria.nombre }} &nbsp; | &nbsp;

        {% endfor %}
      {% endfor %}
    </div>
  </section>

    {% endblock %}